html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  /*background-color: #007bff;*/
  background-color: #093145;
}
header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #565656;
}

header h1 {
  color: #d9d9d9;
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

.nav-wrapper,
footer {
  color: #333;
}

main {
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0px 10px;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 1.4rem;
  color: #d9d9d9;
}

.page-section {
  text-align: center;
  color: #d9d9d9;
}

/* Card styling */
.card.small {
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.card-image img {
  height: 100%;
  object-fit: cover;
}

.card-content {
  flex: 1;
  min-height: 200px;
  overflow-y: auto;
  color: #000000;
}

.card-action {
  text-align: center;
}

/* Footer styling */

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer-container a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-logo {
  font-size: 2rem;
  color: #d9d9d9;
  margin: 10px 0;
}