header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #565656
}

header h1 {
    color: #D9D9D9;
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1; 
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.4rem;
    color: #D9D9D9;
}

.page-footer {
    color: #D9D9D9;
    background-color: #565656
}

.page-footer #contact {
    padding-left: 15px;
    text-decoration: underline;
}

.page-footer p {
    padding-left: 25px;
}

